/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body background and layout */
  body {
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Workspace container */
  .workspace {
    position: relative;
    background-image: url('./workspace.png'); /* Your background image */
    background-size: center;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh; /* Full height */
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
    overflow: hidden; /* Prevent scrollbars */
  }
  
  /* Overlay for better contrast */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  /* Seat styles */
  .seat {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    overflow: hidden;
  }
  
  /* Individual seat position */

  .seat2 {
    top: 10%;
    left: 56.2%;
    z-index: 10000;
  }
  
  .seat3 {
    top: 47.5%;
    left: 28.8%;
  }
  
  .seat4 {
    bottom: 5%;
    left: 30.1%;
  }
  
  .seat5 {
    top: 71%;
    left: 67.5%;
  }
  
  .seat6 {
    top: 84%;
    left: 67.5%;
  }
  
  /* Avatar Circle */
  .avatarVW {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -68%); /* Center the avatar within the seat */
    z-index: 3; /* Ensure it appears above other elements */
  }
  
  /*.avatarVW img {
    width: 100%; /* Try setting this relative to the parent container */
    /* *height: auto; Maintains the aspect ratio */
    /*border-radius: 50%; /* If you want the GIF to be circular */
 /* }*/
  
  /* Media Query to fine-tune for smaller screens */
  @media (max-width: 768px) {
    .seat1, .seat2, .seat3, .seat4, .seat5, .seat6, .seat7, .seat8 {
      width: 10vw;
      height: 10vw;
    }
  
    .avatarVW {
      width: 50%;
      height: 30%;
    }
  }
  